/* .keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
} */

#drum-machine {
  background-color: #ffb942;
  background-image: url('images/hellbros.jpg');
}
#display {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: white;
}

#drum-pads {
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  border: 1px solid black;
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  background-color: #84eeff;
}

.playing {
  transform: scale(1.2);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
  font-size: 30px;
}
